:root {
    --primary-font: "Poppins", sans-serif;
    --secondary-font: "Playfair Display",
        serif;
    --primary-color: #272142;
    --secondary-color: #000000;
    --button-pri-color: #FFFFFF;
    --button-sec-color: #6C63FF;
}

.about-me {
    background-image: url('/images/music.jpeg');
    text-align: center;
    padding: 160px 20px;
}

.about-me p {
    font-family: var(--primary-font);
    font-size: 36px;
    line-height: 54px;
    color: var(--primary-color);
}

.about-me h1 {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 96px;
    color: var(--button-pri-color)
}

.about-meh2 {
    font-family: var(--primary-font);
    font-weight: 400px;
    font-size: 24px;
    line-height: 36px;
}

.contact-me {
    font-family: var(--primary-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: var(--button-pri-color);
    background-color: var(--button-sec-color);
    border-radius: 4px;
    padding: 18px 30px;
}